<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='/stylesheets/partials.css' />
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 new">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

     
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 ">

        <!-- Links -->
        <h5 class="font-weight-bold mb-4">Reverie art gallery</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 ">

        <!-- Contact details -->
        <h5 class="font-weight-bold mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p> Moscow Ns-07,Germany</p>
          </li>
          <li>
            <p> info@example.com</p>
          </li>
          <li>
            <p>+ 01 234 567 88</p>
          </li>
          <li>
            <p> + 01 234 567 89</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 text-center my-5">


        <!-- Facebook -->
        <a href="#" type="button" class="btn-floating btn-fb btn">
          <i class="fa fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw btn">
          <i class="fa fa-twitter"></i>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus btn">
          <i class="fa fa-google"></i>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble btn">
          <i class="fa fa-instagram"></i>
        </a>

      </div>
  

    </div>


  </div>




</footer>
