
<link rel='stylesheet' href='/stylesheets/partials.css' />
<nav class="navbar fixed-top navbar-expand-lg new" >
  
  <a class="navbar-brand" href="/"><img src="/images/logo.png" style="height: 50px;" alt="hi"> Reverie</a>
 

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto navbar-center">
      <li class="nav-item active">
       
  
 <li class="nav-item" style="display:inline-block">
    <a class="nav-link" href="/painting">Painting</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sculpters">Sculpters</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/drawing">Drawings</a>
  </li>

      </li>    
    </ul>

<div class="collapse navbar-collapse justify-content-end">
    <form class="form-inline my-2 my-lg-0" style="float: right;">
      <a class="nav-link " href="/cart">
          <i class="fa fa-shopping-cart"></i>
          <span class="badge">{{session.cart.totalQty}}</span>
          <br>cart
          
        </a>
      <a class="nav-link " href="#">
          <i class="fa fa-list-alt"></i>
          <br>orders
        </a>
    </form>
    </div>
  </div>


</nav>



