<div class = "container">
    {{#if products}}
{{# each products }}
<div class="row row-cols-1 row-cols-md-3" >
    
  <div class="col mb-4">
    <div class="card ">
    
     
      <div class="card-body">
        <h5 class="card-title">{{  this.item.title }}</h5>
        <p class="card-text">{{  this.item.artist }}</p>
        <p class="card-text">{{  this.item.dimension }}</p>
        <a href="/delete-cart/{{this.item._id}}">delete</a>
      </div>
</div>    
  </div> 
   
</div><br><br><br>
{{/each}}
<h1>Total: {{totalPrice}}</h1> 
{{ else}}
<div class="row row-cols-1 row-cols-md-3" >
    <h2>no item</h2>
</div>

{{/if}}
</div>