

 <div >
	<div class="card">
		
			<div class="wrapper row">
				<div class="preview col-md-8">						
					{{# each products.imagePath }}	
						<div class="mySlides">
							<div class="numbertext"></div>
								<img class="pic" src="{{this}}" alt="no pic">	
  						</div>
					{{/each}} 
				</div>
				<div class="details col-md-4">
					<p class="line">
						<h1 class="line1">{{products.title}}<h5  class="line2"><sub>By {{products.artist}}</sub></h5></h1></p>
					<br><br><p class="para">PRICE</p>
					<h2 id="output" class="price"><b class="sign">€ </b></h2><br><br>
					<div class="action">
						<button class="add-to-cart btn btn-default" type="button">Add To Cart <i class='fa fa-shopping-cart shop'></i></button>
					</div><br>
                    <div class="centered"> 
						<div class="left" >
							<p class="margin" >Technique: </p><p class="indent">{{ products.technique}}</p>
						</div>
						<div class="middle"></div>
						<div class="right">
							<p class="margin">Dimension: </p><p class="indent"> {{ products.dimension}}</p></div>
                    </div>
				</div>
			</div>  
			
			<div class="col-md-8">
			<div class="wrapper row" >
				{{# each products.imagePath }}		
 					<div class="coloumn">
     				 	<img class="demo cursor" src="{{this}}" onclick="currentSlide({{@index}}+1)" alt="The Woods">
    				</div>

				{{/each}}	
				
			</div>	
			</div>
  		
		<br><br><h3 class="descrip">Description</h3><br>
		<p class="product-description">{{products.description}}</p>
	</div>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function currentSlide(n) {
	showSlides(slideIndex = n);
}
function showSlides(n) {
	var i;
	var slides = document.getElementsByClassName("mySlides");
	var dots = document.getElementsByClassName("demo");
for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += " active";
}


var numUSD = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'EUR',
  minimumFractionDigits: 2
})

document.getElementById("output").innerHTML = numUSD.format({{products.price}})
</script>