{{#if message }}
	<div class="alert ">
			<h3>{{message}}</h3>
	</div>
{{/if}}


<div class="container">
 
  <div class="overlay">My Name is John</div>
</div>

<div class="control">
<div class="jumbotron jumbotron-fluid">
  <div class="lead">
    <h1 class="display-5">
   <p class="head" >{{head}}</p></h1>
  </div>
</div>
<br>
<div class = "container">
{{# each products }}
<div class="row row-cols-1 row-cols-md-3" >
    {{# each this }}
  <div class="col mb-4">
    <div class="card ">
       <a href="/pdp/{{this._id}}" class="imgpath">
     <img src="{{ this.imagePath.[0] }}" class="card-img-top spec" alt="{{this.imagePath.[0]}}">
      <div class="card-body">
        <h5 class="card-title">{{ this.title }}</h5>
        <p class="card-text">{{ this.artist }}</p>
        <p class="card-text">{{ this.dimension }}</p>
        
      </div>
      </a>
   
      
 
  <a href="/add-to-cart/{{this._id}}"> <div class="overlay"> add to cart </div>  </a>
</div>
    
  </div>
  
  {{/each}}
</div><br><br><br>
{{/each}}
</div>












