.navbar-nav.navbar-center{
    position: absolute; 
    left: 50%; 
    transform: translatex(-50%); }
    .new{
      background-color:#24424E;
      color: rgb(255, 255, 255);
      
    }
   .new a 
   {
  color: rgb(255, 255, 255);
   }
   .new a:hover {
  color: rgb(185, 184, 185);
}


.navbar-brand
{
  font-family:   "Candara";
  letter-spacing: 2px;
  font-size: x-large;
}

.nav-item
{

  font-family: "Sitka Small";
  
}
.btn
{
  padding-left: 4px;
}