
/* Control the left side */
.left{
  flex-grow: 1;
}
.right
 {
  flex-grow: 1;
}
.centered{
  
  padding:5px;
  display:flex;
  color:#02665C;
  
}
    
.card {
    margin-top: 70px;
    background: rgb(255, 255, 255);
    padding: 100px;
    line-height: 1.5em;
    margin-bottom: 70px;
}

.add-to-cart{
  background: #525151 ;
  padding: .8em 1.7em;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
 }
.add-to-cart:hover {
  background: rgb(90, 88, 88) ;
  color: #fff;
  
}

.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
}



* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  height:50px;
}

.active,
.demo:hover {
  opacity: 1;
}

.line1{
  color: #20A794;
  margin-bottom: -3px;
  font-family: "Cambria";
  
}

.line2{
  color:#61BEB1 ;
  font-family: "Cambria";
  font-style: italic;
}

.para{
  margin-bottom: -1px;
  color:#971010;
  font-family: "Corbel";
}
.price{
  color: #291588;
}
.shop
{
  font-size:20px;
}
.middle
{
  border-left:1px solid #ff9f1a;
  padding:30px;
}
.coloumn
{
  padding: 15px;
}
.descrip
{
  color: #7A2B3D;
  font-family: "Cambria";
}
.product-description{
  margin-left: 5em;
  color:#89277C;
  font-family: "Cambria";
}
sub{
  vertical-align:sub;
  font-size:smaller;
  text-transform: uppercase;
}
.margin{
  margin-bottom: -1px;
  font-family: "Cambria";
  color: #02665C;
  font-style: italic;
}
.indent
{
  text-indent: 2em;
  font-family: "Cambria";
  color: #02665C;
}
.sign{
  color: #732F2F;
}
