body
{
    background-color: #FFFFFF;
}
.card 
{
    color: #24424E;
    font-family: "DejaVu Sans Mono";
    font-style: oblique;
    height: fit-content;
    width: fit-content;
    min-width: 350px;
}
/* On mouse-over, add a deeper shadow */
.card:hover 
{
    box-shadow: 0 8px 16px 0 #72747C;
}
.card-body
{
    text-align: center;
}
a:link {
   text-decoration: none;
}
.lead {
    font-family:" Georgia";
    font-style: "Regular";
    color: #852727;
}
.jumbotron
{
    background-image:url('/images/header.png');background-repeat: no-repeat;background-size: 100% 100%;
}
.head{
    margin: 0px auto;
    text-align:center;
}
.container
{
    position:relative;
    --aspect-ratio: 2/1;
}
.imgpath
{
    text-decoration: none; 
    color: #24424E;
}
.spec{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
    height:200px;
    width:auto;
    max-width: 350px;
}
.btn{
    width: card;
    background-color: #24424E;
    color:aliceblue;
}


.overlay {
    position: absolute; 
    bottom: 0; 
    background: #24424E;
    background: #24424E; /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }